PORT = 5000
MONGODB_URI = mongodb+srv://rahul848423_db_user:sIzFL0pnabUcZObZ@eventora.tc9opi5.mongodb.net/eventora?appName=Eventora
EMAIL_USER=xx@gmail.com
EMAIL_PASS=16_DIGIT
JWT_SECRET = your_secret_keyasdfghjkl654321